# ignore pythom files
**__pycache__
**.pyc
**.DS_Store

# ignore folders
# backend/
output/
data/
old_scripts/
example_out/
example_output/
cluster_output/
temps/
tests/
logs/
# ignore egg-info directory
**.egg-info/

# backend/

notebooks/

venv/
**.sif
*.lprof